<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }
        span#radio{
            font-size:150px;
            margin-left:25%;
        }

    </style>
    <title>RadioUniversidad de Almeria -  Señal de Grabando</title>
</head>
<body>

<h1>Bienvenido a la Radio Universidad de Almería</h1>

<h2>Para iniciar la señal de Grabando... pulsa en el botón correspondiente...</h2>
<p><span id="radio" style="">&#128251;</span></p>
<form action="/recording" method="post">
    <input type="submit" value="ON" name="on"></form>
<form action="/recording" method="post">
    <input type="submit" value="OFF" name="on">
</form>
</body>
</html>